*{
    margin: 0px;
    padding: 0px;
}

/* Header */

#cabeçalho{
    background-color: #56493b;
    color: #d3b390;
    padding-top: 20px; 
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}

#cabeçalho h1{
    font: 50px brasika;
    color: #fcf6db;
}

header a{
    color: #fcf6db;
    text-decoration: none;
    padding: 90px;
    font: 18px atasanee;
}

nav ul{
    text-align: center;
    padding-top: 20px;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

a:hover{
    color: gold;
    text-decoration-line: underline;
}

/* Section 01 */

#primeiroTexto{
    background: url(/imagens/ImagemFundo.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}

#caixaTextoCima{
    text-align: center;
}

#textoCima{
    margin-top: 30px;
    display: inline-block;
    background-color: #fcf6db;
    border-radius: 20px 20px 20px;
}

#textoCima h3{
    font: 26px brasika;
    color: #56493b;
    padding: 10px;
}

.textoBloco{ 
    display: inline-block;
    vertical-align: top;;
    margin-top: 80px;
    margin: 5%;  
    width: 300px;
    height: 300px;
    background-color: #56493b;
}

.textoBloco h5{
    text-align: center;
    font: 18px Atsanee;
    color: #fcf6db;
    padding-top: 100px;
}

/* Section 02 */

#encontros{
    background-color: rgb(215, 205, 195);
    height: 610px;
}

#encontros img{
    width: 40%;
    float: left;
}

#textoEncontros h1{
    padding-top: 8%;
    text-align: center;
    font: 50px brasika ;
    color: #56493b;
}

#textoEncontros h5{
    float: right;
    text-align: center; 
    margin-right: 12%;  
    padding-top: 5%;
    font: 30px atsanee;
    width: 40%;
    color: #56493b;
}

/* Section 03 */

#diferenciais{
    background: url(/imagens/imagem5.jpg) no-repeat;
    height: 1100px;
}

#diferenciais h1{
    text-align: center;
    padding-top: 20px;
    font: 50px brasika ;
    color: #56493b;
}

#caixaTextoDiferenciais{
    padding-top: 100px;
    padding-left: 250px;
}

#diferencial1{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float:left;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

#diferencial2{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float: left;
    margin-left: 30px;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

#diferencial3{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float: left;
    clear: left;
    margin-top: 70px;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

#diferencial4{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float: left;
    margin-top: 70px;
    margin-left: 30px;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

/* Section 04 */

#contato{
    background-color: #d3b390;
}

#contato h1{
    text-align: center;
    padding-top: 20px;
    font: 50px brasika ;
    color: #56493b;
}