*{
    margin: 0px;
    padding: 0px;
}

header{
    background: url(/imagens/ImagemFundo.jpg) no-repeat;
    background-size: cover;
}

#cabeçalho{
    background-color: #56493b;
    color: #d3b390;
    padding-top: 20px; 
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}

h1{
    font: 50px brasika;
    color: #fcf6db;
}

header a{
    color: #fcf6db;
    text-decoration: none;
    padding: 90px;
    font: 18px atasanee;
}

nav ul{
    text-align: center;
    padding-top: 20px;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

a:hover{
    color: gold;
    text-decoration-line: underline;
}

#textoCima{
    display: inline-block;
    background-color: #fcf6db;
    text-align: center;
    padding: 20px;
    margin-left: 540px;
    margin-top: 50px;
    border-radius: 20px 20px 20px;
    font: 18px brasika;
    color: #56493b;
}

#primeiroTexto div{
    display: inline-block;
    vertical-align: top;
    margin: 80px;  
    margin-left: 110px;
    width: 300px;
    height: 300px;
    background-color: #56493b;
}

#primeiroTexto div h5{
    text-align: center;
    font: 18px Atsanee;
    color: #fcf6db;
    padding-top: 100px;
}

#encontros{
    background-color: rgb(215, 205, 195);
    height: 630px;
}

#encontros img{
    width: 40%;
    float: left;
}

#textoEncontros h1{
    padding-top: 100px;
    text-align: center;
    font: 50px brasika ;
    color: #56493b;
}

#textoEncontros h5{
    float: right;
    text-align: center; 
    margin-right: 200px; 
    padding-top: 100px;
    font: 30px atsanee;
    width: 550px;
    color: #56493b;
}

#diferencial1{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float:left;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

#diferencial2{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float: left;
    margin-left: 30px;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

#diferencial3{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float: left;
    clear: left;
    margin-top: 70px;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

#diferencial4{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px 20px 20px;
    text-align: center;
    float: left;
    margin-top: 70px;
    margin-left: 30px;
    font: 30px atsanee;
    color: #56493b;
    padding-top: 100px;
}

#caixaTextoDiferenciais{
    padding-top: 100px;
    padding-left: 250px;
}

#diferenciais h1{
    text-align: center;
    padding-top: 20px;
    font: 50px brasika ;
    color: #56493b;
}

#diferenciais{
    background: url(/imagens/imagem5.jpg) no-repeat;
    height: 1100px;
}

#contato{
    background-color: #d3b390;
}

#contato h1{
    text-align: center;
    padding-top: 20px;
    font: 50px brasika ;
    color: #56493b;
}