*{
    margin: 0px;
    padding: 0px;
}

/* Header */

#menu-toggle{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    display: none;
}

#cabeçalho{
    background-color: #56493b;
    color: #d3b390;
    padding-top: 20px; 
    height: auto;
    padding-bottom: 20px;
    padding-left: 30px;
}

#cabeçalho h1{
    font: 50px brasika;
    color: #fcf6db;
}

 header a{
    color: #fcf6db;
    text-decoration: none;
    padding: 70px;
    font: 18px atasanee;
}

nav ul{
    text-align: right;
}

nav ul li{
    display: inline-block;
}

#nav{
    display: block;
}

header #navbar{
    display: none;
}

a:hover{
    color: gold;
    text-decoration-line: underline;
    text-underline-offset: 10px; 
}

/* Section 01 */

#primeiroTexto{
    background: url(./imagens/ImagemFundo.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}

#caixaTextoCima{
    text-align: center;
}

@keyframes animation-textoCima {
    from{
        right: 1000px;
    } to{
        right: 0;
    }
}


#textoCima{
    animation-name: animation-textoCima;
    animation-duration: 2s;
    position: relative;
    margin-top: 30px;
    display: inline-block;
    background-color: #fcf6db;
    border-radius: 20px 20px 20px;
}

#textoCima h3{
    font: 26px brasika;
    color: #56493b;
    padding: 10px;
}

@keyframes animation-textoBloco {
    from{
        top: 1000px;
    } to{
        top: 0;
    }
}

.textoBloco{
    animation-name: animation-textoBloco;
    animation-duration: 2s;
    position: relative; 
    display: inline-block;
    vertical-align: top;;
    margin-top: 80px;
    margin: 5%;  
    width: 300px;
    height: 300px;
    background-color: #56493b;
}

.textoBloco h5{
    text-align: center;
    font: 18px Atsanee;
    color: #fcf6db;
    padding-top: 100px;
}

/* Section 02 */

#encontros{
    background-color: rgb(215, 205, 195);
    height: 610px;
}

#encontros #img{
    width: 40%;
    float: left;
}

#textoEncontros h1{
    padding-top: 8%;
    text-align: center;
    font: 50px brasika ;
    color: #56493b;
}

#textoEncontros h5{
    float: right;
    text-align: center; 
    margin-right: 12%;  
    padding-top: 5%;
    font: 30px atsanee;
    width: 40%;
    color: #56493b;
}

/* Section 03 */

#diferenciais{
    background: url(./imagens/imagem5.jpg) no-repeat;
    background-size: cover;
}

#diferenciais h1{
    text-align: center;
    padding-top: 20px;
    font: 50px brasika ;
    color: #56493b;
}

#caixaTextoDiferenciais{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.textoDiferenciais{
    box-shadow: 0px 0px 10px black;
    display: inline-block;
    background-color: white;
    height: 300px;
    width: 500px;
    margin-top: 5%;
    margin: 2%;
    border-radius: 20px 20px 20px;
    text-align: center;  
    font: 30px atsanee;
    color: #56493b;
    padding-top: 10%;
}

/* Section 04 */

#contato{
    background-color: #d3b390;
    padding: 5%;
}

#contato h1{
    text-align: center;
    font: 50px brasika ;
    color: #56493b;
}

#form{
    font-size: 28px;
    padding-top: 5%;
    width: 50%;
    padding-left: 25%;
}

#cadastro{
    color: #fcf6db;
    border: solid 3px white;
    background-color: #56493b;
    box-shadow: 0px 0px 10px black;
    padding: 2%;
}

#form img{
    float: right;
    width: 150px;
}


input::-webkit-inner-spin-button{ 
    appearance: none;
}    

#btnCadastro{
    width: 100px;
}

#btnCadastro:hover{
    background-color: gold;
}


#cadastro input{
    margin: 2%;
    height: 20px;
}

/* Footer */

footer{
    background-color: #d3b390;
    /* background-color:  rgb(215, 205, 195); */
    color: #56493b;
}

#direitos{
    text-align: center;
}

#redesSociais img{
    width: 30px;
    height: 30px;
}

#redesSociais{
    padding-top: 10px;
    text-align: right;
    padding-right: 10px;
}

/* Eventos page */

#proximosEventos{
    background-color: #d3b390;
}

@keyframes animation-EventosH1 {
    from{
       top: 1000px;
    } to{
      top: 0;
    }
} 

#proximosEventos h1{
    animation-name: animation-EventosH1;
    animation-duration: 2s;
    position: relative;
    text-align: center;
    font: 50px brasika ;
    color: #56493b;
}

@keyframes animation-eventosColuna01 {
    from{
       right: 1000px;
    } to{
      right: 0;
    }
} 

#eventosColuna01{
    position: relative;
    animation-name: animation-eventosColuna01;
    animation-duration: 3s;
}

@keyframes animation-eventosColuna02 {
    from{
       left: 1000px;
    } to{
      left: 0;
    }
} 

#eventosColuna02{
    position: relative;
    animation-name: animation-eventosColuna02;
    animation-duration: 3s;
}

.eventos{
    box-shadow: 0px 0px 10px black;
    display: inline-block;
    background-color: white;
    height: 300px;
    width: 500px;
    margin-top: 5%;
    margin: 2%;
    border-radius: 20px 20px 20px;
    text-align: center;  
    font: 30px atsanee;
    color: #56493b;
    padding-top: 10%;
}
#caixaTextoEventos{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.eventos h1{
    text-align: center;
    padding-top: 20px;
    font: 50px brasika ;
    color: #56493b;
}

/* Depoimentos Page */

#depoimentosClientes{
    background-color: #d3b390;
}

@keyframes animation-depoimentosClientesH1 {
    from{
       left: 1000px;
    } to{
      left: 0;
    }
} 

#depoimentosClientes h1{
    position: relative;
    animation-name: animation-depoimentosClientesH1;
    animation-duration: 1s;
    text-align: center;
    font: 50px brasika ;
    color: #56493b;
}

@keyframes animation-depoimentos {
    from{
      left: -2000px;
    } to{
       left: 0;
    }
} 

.depoimentos{
    position: relative;
    animation-name: animation-depoimentos;
    animation-duration: 2s;
    background-image: url(./imagens/fundoDepoimentos.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px black;
    display: inline-block;
    background-color: white;
    height: 300px;
    width: 500px;
    margin-top: 5%;
    margin: 2% auto;
    border-radius: 20px 20px 20px;
    text-align: center;  
    font: 30px atsanee;
    color: #56493b;
    padding-top: 10%;
}
#caixaDepoimentos{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    }
    
#caixaDepoimentos div{
    margin: 2%;
}

.txtDepoimentos{
    font: 22px brasika ;
    color: #56493b;
    padding-left: 30px;
    width: 420px;
    height: 150px;
    text-align: justify;
}

.txtDepoimentos h3{
   text-align: center;
}

fieldset #btnAvaliacao{
    width: 150px;
    margin-left: 20%;
}

#btnAvaliacao:hover{
    background-color: gold;
}

/* Media queries */

@media screen and (max-width: 767px){

    /* Header */
    #cabeçalho h1{
        font-size: 25px;
    }

    #nav{
        display: none;
    }

    #menu-toggle{
        display: block;
    }

    #navbar{
        display: block;
        background-color: #56493b;
        padding-right: 10px;
        padding-top: 10px;
    }
        
    #navbar a{
        padding: 0px;
        font-size: 12px;
        text-decoration: none;
        
    }

    /* Section 01 */
    #textoCima h3{
        font: 16px brasika;
    }

    .textoBloco{
        width: 200px;
        height: 200px;
    }
    
    .textoBloco h5{
        font: 15px Atsanee;
        padding-top: 70px;
    }

    /* Section 02 */

    #encontros #img{
        display: none; 
    }

    #div-imagem-block{
        background: url(./imagens/fotoEncontros.jpg) no-repeat;
        background-size: contain;
        margin-left: 20%;
        width: 200px;
        height: 200px;
    }

    #encontros{
        background-color: rgb(215, 205, 195);
        height: 350px;
    }
    
    #textoEncontros h1{
        padding-top: 1%;
        text-align: center;
        font: 25px brasika ;
        color: #56493b;
    }
    
    #textoEncontros h5{
        padding-top: 1%;
        font: 18px atsanee;
        width: 80%;
        color: #56493b;
    }
}